<datasource-http-settings current="ctrl.current">
</datasource-http-settings>

<h3 class="page-heading">Gatling Enterprise Authorization</h3>
<div class="gf-form-inline">
    <div class="gf-form max-width-30">
        <span class="gf-form-label width-7">API Token</span>
        <input class="gf-form-input" data-ng-model="ctrl.current.jsonData.apiToken" placeholder="API Token" required type="text">
        <info-popover class="gf-form-help-icon gf-form-help-icon--right-absolute drop-help drop-hide-out-of-bounds drop-target"
                      mode="right-absolute">
            <i class="fa fa-info-circle"></i> Generate an API token through the Gatling Enterprise dashboard
        </info-popover>
    </div>
</div>
